:root {
    --sidebar-width: 280px;
    --header-height: 80px;
    --theme-color: #FFBF00;
    --tree-font-size: 20px;
    --total-margin: 8em;
}

.retro-border {
    border-style: double;
    border-color: var(--theme-color)
}

.site-title {
    margin-left: 20px;
}

body {
    background-color: black;
    margin-left: var(--total-margin);
    margin-right: var(--total-margin);
}

* {
    color: var(--theme-color);
    font-family: FreeMono, monospace;
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}

main {
    margin-left: var(--sidebar-width);
    height: 100vh;
    top: var(--header-height);
    padding: 15px 30px;
    align-content: center;
    border-right: double;
    margin-right: -6px;
}

.tree {
    font-size: var(--tree-font-size);
    font-family: FreeMono, monospace;
    margin: 0;
    padding-top: 0;
    line-height: var(--tree-font-size);
}

.sidebar {
    height: 103%;
    width: var(--sidebar-width);
    position: absolute;
    z-index: 1;
    top: var(--header-height);
    left: var(--total-margin);
    margin-top: 15px;
    margin-bottom: -15px;
    border-bottom: none;
}

.header {
    height: var(--header-height);
    top: 0;
    left: var(--total-margin);
    width: 100%;
    margin-left: 0;
    display:flex;
}

.footer {
    height: var(--header-height);
    width: 100%;
    padding: 0 0;
    margin-right: -6px;
    background: black;
    z-index: 2;
}

.post-content {

}

.error-code {
    text-align: center;
    font-size: 20px;
    /* this 1-pixel disparity is intentional */
    line-height: 19px;
    letter-spacing: 0;
}

.date {
    vertical-align: center;
    font-size: 13px;
    line-height: 13px;
}

/* courtesy of https://aleclownes.com/2017/02/01/crt-display.html */
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 3;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

code {
    color: #00FF00;
    height: auto;
}

.home-section {
    height: 100%;
}

.home-segment {
    flex: 1;
}