:root {
    --sidebar-width: 280px;
    --header-height: 80px;
    --theme-color: #FFBF00;
    --tree-font-size: 20px;
    --total-margin: 8em;
}

.retro-border {
    border-style: double;
    border-color: var(--theme-color)
}

.site-title {
    margin-left: 20px;
}

body {
    background-color: black;
    margin-left: var(--total-margin);
    margin-right: var(--total-margin);
}

* {
    color: var(--theme-color);
    font-family: FreeMono, monospace;
}

main {
    margin-left: var(--sidebar-width);
    height: 100vh;
    top: var(--header-height);
    padding: 15px 30px;
    align-content: center;
    border-right: double;
    margin-right: -6px;
}

.tree {
    font-size: var(--tree-font-size);
    font-family: FreeMono, monospace;
    margin: 0;
    padding-top: 0;
    line-height: var(--tree-font-size);
}

.sidebar {
    height: 103%;
    width: var(--sidebar-width);
    position: absolute;
    z-index: 1;
    top: var(--header-height);
    left: var(--total-margin);
    margin-top: 15px;
    margin-bottom: -15px;
    border-bottom: none;
}

.header {
    height: var(--header-height);
    top: 0;
    left: var(--total-margin);
    width: 100%;
    margin-left: 0;
}

.footer {
    height: var(--header-height);
    width: 100%;
    padding: 0 0;
    margin-right: -6px;
    background: black;
    z-index: 2;
}

.post-content {
    text-align: center;
}

.error-code {
    text-align: center;
    font-size: 20px;
    /* this 1-pixel disparity is intentional */
    line-height: 19px;
    letter-spacing: 0;
}

.date {
    vertical-align: center;
    font-size: 13px;
    line-height: 13px;
}