<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="sidebar">
        {% for post in posts %}
        <a href="/pages/{{post}}">{{ post | replace(from="_", to=" ")}}</a>
        {% endfor %}
    </div>
    <main>
        {% block content%}{% endblock content %}
    </main>
</body>