{% extends "base" %}

{% block content %}
<div class="post-content">
    <div class="retro-border" style="width: 160px">
        Last Updated: {{ created | date }}
    </div>
    {{rendered_page | safe}}
</div>
{% endblock content %}