{% extends "base" %}

{% block content %}
<div class="post-content">
    <div class="retro-border" style="width: 160px">
        Last Updated: {{ post.timestamp | date }}
    </div>
    {{post.html | safe}}
</div>
{% endblock content %}